:host {
  display: block;
  width:100%;
  height: 100%;
  overflow: hidden;
}

@mixin loader-text {
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  border-radius: 0.9375rem;
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  @keyframes pulse {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -135% 0%
    }
  }
}

table {
  display: table;
  table-layout:fixed;
  border-collapse: seperate;
  width: 100%;
  height: 100%;
  background: #ffffff;
  .col {
    width: 9.375rem;
    &:first-child {
    width: 12.5rem;
  }
}
  thead {
    color: rgba(0, 0, 0, 0.54);
    th {
      padding: 12.8px 0;
      border-bottom: 0.0313rem solid #f3f3f3;
      p {
       @include loader-text();
       height: 1.25rem;
       width: 7.5rem;
       // padding-left: 0.9375rem;
     //   width: 10.625rem;
      }
    }
  }
  td {
    padding: 9.6px 0;
    border-bottom: 0.0313rem solid #f3f3f3;
    p {
      @include loader-text();
      height: 1.2em;
      width:6.25rem;
    }
  }
  tr:nth-child(3n+1) {
    td:first-child {
     p {
      width: 50%;
     }
    }
  }
  tr:nth-child(3n+2) {
    td:first-child {
     p {
      width: 80%;
     }
    }
  }
  tr:nth-child(3n+3) {
    td:first-child {
      p {
        width: 90%;
      }
    }
  }
}
