<div class="card">
  <div class="card__header">
      <div class="card__header__title">
          <div class="card__header__title__logo">
              {{offer.bankName}}
            </div>
        <div class="card__header__title__secondary"> «{{offer.offerName}}»</div>
      </div>
      <div class="card__header__logo">
          <i class="fas fa-university"></i>
      </div>
  </div>
  <div class="card__content">
      <div class="credit-percent">
        <div class="credit-percent__title">
        {{offer.leftTop}}
        </div>
        <div class="credit-percent__subtitle">{{offer.leftButtom}} </div>
      </div>
      <div class="credit-count">
        <div class="credit-count__title">

            {{offer.rightTop}}

        </div>
        <div class="credit-count__subtitle">

            {{offer.rightButtom}}

          </div>
      </div>
  </div>
  <div class="card__footer">
    <a mat-stroked-button color="primary" href="{{offer.webLink}}" target="_blank" rel="noopener"> {{'~detailed' | translate}}</a>
  </div>
</div>