<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="component">
        <div class="component__title">
            <div class="component__title__icon">
              <img src="./assets/icons/unsupported-browser-icon.svg">
            </div>
        </div>
        <div class="component__content">
          <h1>{{'~unsupportedBrowserTitle' | translate}}</h1>
          <p>{{'~unsupportedBrowserMessage' | translate}}</p>
        </div>
        <div class="component__footer"></div>
      </div>
    </div>
  </div>
</div>