<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <div class="header__icon" routerLink="/">
            <img src="./assets/icons/brand.svg" />
          </div>

          <div class="header__lang-switch">
            <button mat-button>
              AZ
            </button>
          </div>

          <div class="header__links d-xl-none">
            <button class="header__links__menu">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="header__links d-none d-xl-flex">
            <a class="link">
              Depozitlər
            </a>
            <a class="link">
              Kreditlər
            </a>
            <a class="link disabled">
              Kredit kartlar
            </a>
            <a class="link">
              Debit kartlar
            </a>
            <a class="link">
              İpoteka
            </a>
            <a class="link">
              Məzənnə
            </a>

            <a class="link disabled">
              Sığorta
            </a>
            <a class="link">
              Banklar üçün
            </a>

          </div>

          <div class="header__loanCompare" id="compare-cart">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="main-banner">

  <div class="slide__cover --loans">
    <!-- <img src="./assets/images/PLUSMINUS_HOMEPAGE_BANNER.webp" /> -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="slide">

          <div class="slide__content">
            <div class="slide__content__title">
              Kredit sifarişi
            </div>
            <div class="slide__content__shortInfo" id="slideLoanShortInfo">
              Müraciətin bütün banklara yönləndirilməsi üçün formanı doldurub, müraciəti göndərin
            </div>
            <div class="slide__detailed">
              <button mat-raised-button>Kredit müraciəti</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<section id="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 p-0">
        <div class="card-wrapper">
          <div class="service-card"  >
            <div class="service-card__icon">
              <img src="./assets/images/deposits.png" />
            </div>
            <div class="service-card__name" >yüklənir ..</div>
          </div>

        </div>
      </div>
      <div class="col-6 col-md-4 p-0">
        <div class="card-wrapper">
          <div class="service-card"  >
            <div class="service-card__icon">
              <img src="./assets/images/deposits.png" />
            </div>
            <div class="service-card__name" >yüklənir ..</div>
          </div>

        </div>
      </div>
      <div class="col-6 col-md-4 p-0">
        <div class="card-wrapper">
          <div class="service-card"  >
            <div class="service-card__icon">
              <img src="./assets/images/deposits.png" />
            </div>
            <div class="service-card__name" >yüklənir ..</div>
          </div>

        </div>
      </div>
      <div class="col-6 col-md-4 p-0">
        <div class="card-wrapper">
          <div class="service-card"  >
            <div class="service-card__icon">
              <img src="./assets/images/deposits.png" />
            </div>
            <div class="service-card__name" >yüklənir ..</div>
          </div>

        </div>
      </div>
      <div class="col-6 col-md-4 p-0">
        <div class="card-wrapper">
          <div class="service-card"  >
            <div class="service-card__icon">
              <img src="./assets/images/deposits.png" />
            </div>
            <div class="service-card__name" >yüklənir ..</div>
          </div>

        </div>
      </div>
      <div class="col-6 col-md-4 p-0">
        <div class="card-wrapper">
          <div class="service-card"  >
            <div class="service-card__icon">
              <img src="./assets/images/deposits.png" />
            </div>
            <div class="service-card__name" >yüklənir ..</div>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>
